<!DOCTYPE html>
<html>
	<head>
		<link href="/assets/styles.css" rel="stylesheet" />
	</head>
	<body>
		<%- include('partials/nav'); %>
		<h1>Profile page for: <%= person %></h1>
		<p>It seems like it works cuh</p>
		<p>
			<strong
				><%= person %> has <%= data.cars %> cars and he is a <%= data.race %>
				born
			</strong>
		</p>

		<ul>
			<% data.hobbies.forEach(function(item) { %>
			<li><%= item %></li>

			<% }) %>
		</ul>
	</body>
</html>
